@import url('https://fonts.cdnfonts.com/css/azonix');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-creepster: 'Creepster', display;
  --font-tech: 'Share Tech Mono', monospace;
  --font-orbitron: 'Orbitron', sans-serif;
  --animate-flicker: flicker 3s linear infinite;
}

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #dc2626,
      0 0 80px #dc2626,
      0 0 90px #dc2626,
      0 0 100px #dc2626,
      0 0 150px #dc2626;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Azonix', 'Orbitron', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(180deg, #666 0%, #333 50%, #000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .font-orbitron {
    font-family: 'Orbitron', sans-serif;
  }

  .font-azonix {
    font-family: 'Azonix', sans-serif;
  }
}