@import url('https://fonts.cdnfonts.com/css/azonix');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Share+Tech+Mono&display=swap');
@import "tailwindcss";

@theme {
  --font-creepster: 'Creepster', display;
  --font-tech: 'Share Tech Mono', monospace;
  --animate-flicker: flicker 3s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: 
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #dc2626,
      0 0 80px #dc2626,
      0 0 90px #dc2626,
      0 0 100px #dc2626,
      0 0 150px #dc2626;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Azonix', sans-serif;
}